html {
    background: #fff;

    * {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}

@import "mixins";
@import "font";

// Import Bootstrap for Sass
@import "../vendor/bootstrap";
@import "custom-variables";

.container, .container-fluid, .container-xl, .container-xxl {
    .container, .container-fluid {
        width: 100%;
        max-width: unset;
        //margin: 0;
        padding: 0;
    }
}

@import "main";
@import "typo";
@import "paginator";
@import "responsive-images";

body.dev {
    .container {
        background-color: transparentize(aqua, 0.5);
    }

    .container-fluid {
        background-color: transparentize(aquamarine, 0.5);
    }

    div, form, table {
        outline: 1px solid #783b8e !important;
    }

    address, blockquote, h1, h2, h3, h4, h5, h6, p, pre {
        outline: 1px solid deeppink !important;
    }
}
