
.page-navigation > p {
    float: none;
    clear: both;
    display: none;
}

.page-navigation {
    @extend .row;
    align-items: center;
    justify-content: center;
}

.page-navigation > .f3-widget-paginator {
    float: none;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    height: 52px;

    &:after {
        float: none;
        clear: both;
        display: table;
    }

    * {
        background-color: #f6b14c;
        border: 1px solid white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        color: $white;
        margin: 0;
        padding: 0;
        overflow: hidden;

        &:after {
            float: none;
            clear: both;
            display: table;
        }

        > a {
            border: none;
            margin: 0;
            padding: 0;
            text-decoration: none;
        }

        &.current {
            background-color: $secondary;
        }

        &:not(.current):hover {
            background-color: rgba($secondary, .8);
        }

        &:not(:last-of-type) {
            border-right: none;
        }

        &:first-of-type {
            border-radius: 5px 0 0 5px;
        }

        &:last-of-type {
            border-radius: 0 5px 5px 0;
        }

        &.next > a, &.previous > a {
            visibility: hidden;
            position: relative;

            &:after {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                content: '»';
                visibility: visible;
                box-sizing: border-box;
                padding-bottom: 5px;
                font-size: 1.1em;
            }
        }

        &.previous > a {
            &:after {
                content: '«';
            }
        }
    }
}
