//////////////////////////////////////

.ce-textpic,
.ce-nowrap .ce-bodytext,
.ce-gallery,
.ce-row,
.ce-uploads li,
.ce-uploads div {
    overflow: hidden;
}

//.ce-column,
.ce-left .ce-gallery {
    float: left;
}

[data-ce-columns ="2"],
[data-ce-columns ="3"],
[data-ce-columns ="4"],
[data-ce-columns ="6"] {
    .ce-column {
        float: left;
    }
}

.ce-right .ce-gallery {
    float: right;
}

figcaption {
    color: $text-muted;
}

.ce-gallery figure {
    //display: table;
    margin: 0;
}

.ce-gallery figcaption {
    //display: table-caption;
    caption-side: bottom;
}

.ce-gallery img {
    display: block;
}

.ce-gallery iframe {
    border-width: 0;
}

.ce-right.ce-intext .ce-gallery {
    margin-left: $spacer;
}

.ce-left.ce-intext .ce-gallery {
    margin-right: $spacer;
}

.ce-below .ce-gallery {
    margin-top: $spacer;
}

.ce-column {
    padding-right: $spacer/2;
}

.ce-intext.ce-right .ce-column,
.ce-intext [data-ce-columns="1"] .ce-column {
    padding-right: 0;
}

.ce-column {
    margin-bottom: $spacer/2;
}

.ce-above .ce-bodytext {
    clear: both;
}

.ce-intext.ce-left ol,
.ce-intext.ce-left ul {
    padding-left: ($spacer*2);
    overflow: auto;
}

.ce-center .ce-outer,
.ce-center .ce-inner {
    float: none;
    right: 0;
}

.ce-intext > .ce-gallery,
.ce-intext > .ce-bodytext {
    width: 100%;
}

.ce-above .ce-gallery,
.ce-below .ce-gallery {
    margin-right: -($spacer/2);
}

.ce-right.ce-above,
.ce-right.ce-below {
    margin-left: -($spacer/2);
    margin-right: 0;
}

//[data-ce-columns="1"] .ce-column {
//  max-width: 100%;
//  width: 100%;
//}
//
//.ce-column {
//  max-width: 50%;
//  width: 50%;
//}

.ce-left.ce-above .ce-gallery,
.ce-left.ce-below .ce-gallery {
    float: none;
}

[data-ce-columns="2"] .ce-column {
    width: 50%;
}

[data-ce-columns="3"] .ce-column {
    width: 33.33333333%;
}

[data-ce-columns="4"] .ce-column {
    width: 50%;
}

@include media-breakpoint-up(md) {
    [data-ce-columns="4"] .ce-column {
        max-width: 25%;
        width: 25%;
    }
}

@include media-breakpoint-up(md) {

    .ce-column, .ce-uploads-img-link {
        padding-right: $spacer;
    }

    .ce-intext [data-ce-columns="1"] .ce-column {
        padding-right: 0;
    }
    .ce-column {
        margin-bottom: $spacer;
    }
    .ce-intext .ce-gallery {
        width: 50%;
    }
    .ce-intext.ce-nowrap > .ce-bodytext {
        width: 50%;
    }
    .ce-intext.ce-left .ce-gallery {
        margin-right: ($spacer/2);
    }

    .ce-intext.ce-left .ce-column {
        padding-right: ($spacer/2);
    }

    .ce-left.ce-nowrap .ce-gallery {
        margin-right: -($spacer/2);
        margin-left: 0;
    }

    .ce-left.ce-nowrap .ce-bodytext {
        padding-left: ($spacer);
    }
    .ce-right.ce-nowrap.ce-intext .ce-gallery {
        margin-left: -($spacer/2);
        margin-right: 0;
    }

    .ce-right.ce-nowrap .ce-bodytext {
        padding-right: ($spacer);
    }

    .ce-intext.ce-right .ce-gallery {
        margin-left: ($spacer/2);
    }

    .ce-intext.ce-right .ce-column {
        padding-left: ($spacer/2);
    }

    .ce-above .ce-gallery,
    .ce-below .ce-gallery {
        margin-right: -($spacer);
    }
    .ce-right.ce-above,
    .ce-right.ce-below {
        margin-left: -($spacer);
        margin-right: 0;
    }
}

@include media-breakpoint-down(md) {
    //caption,floats
    [data-ce-columns="2"] .ce-column:nth-child(odd) {
        clear: left;
    }
}

//4col images in mobile 2col:
@include media-breakpoint-down(sm) {
    //caption,floats
    [data-ce-columns="4"] .ce-column:nth-child(odd) {
        clear: left;
    }
    //.ce-column,
    .ce-left .ce-gallery,
    .ce-right .ce-gallery {
        float: none;
    }
    [data-ce-columns ="2"],
    [data-ce-columns ="3"],
    [data-ce-columns ="4"],
    [data-ce-columns ="6"] {
        .ce-column {
            float: none;
        }
    }

    .ce-right.ce-intext .ce-gallery {
        margin-left: 0;
    }

    .ce-left.ce-intext .ce-gallery {
        margin-right: 0;
    }
}
