h1, .h1 {
    @extend h1;
    font-weight: 800;
    line-height: 2.8125rem;
    padding-bottom: $headings-padding-bottom;
    text-transform: uppercase;

    @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 2.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

h2, .h2 {
    @extend h2;
    margin-top: 25px;
    font-weight: 700;
    line-height: 2.0625rem;
    padding-bottom: 18px;
    text-transform: uppercase;
}

h3, .h3 {
    @extend h3;
    font-size: calc(1.29375rem + .525vw);
    font-weight: 400;
    line-height: 2.375rem;
    margin-top: 25px;
    padding-bottom: 18px;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: 27px;
        line-height: 1;
    }
}

h4, .h4,
h5, .h5,
h6, .h6 {
    @extend h4;
    font-weight: 400;
    line-height: 2.0625rem;
    padding-bottom: $headings-padding-bottom;
    text-transform: uppercase;
}

.teaser {
    &--headline {
        @extend h1;
        color: $white;
        font-size: 1.875rem;
        line-height: 1.875rem;
        padding-bottom: $headings-padding-bottom;

        @include media-breakpoint-down(sm) {
            font-size: 1.5625rem;
        }
    }

    &--list {
        padding-left: 0;

        li {
            color: $white;
            font-size: 1.25rem;
            line-height: 1.25rem;
            padding-bottom: 0.75rem;
            margin-bottom: 0;
            list-style: none;
        }
    }
}

.footer--headline {
    @extend .teaser--headline;
    font-size: 1.25rem;
    line-height: 1;
    padding-bottom: 0.7rem;

    @include media-breakpoint-down('xs') {
        padding-top: 1.5rem;
    }
}

p, .bodytext {
    @extend p;
    font-size: $paragraph-font-size;
    margin-bottom: 15px !important;
}

main {
    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: $paragraph-font-size;
    }

    li {
        margin-bottom: $paragraph-margin-bottom;
    }
}

ol,
ul,
dl {
    &.check {
        padding-left: 0 !important;

        li {
            margin-left: 1rem;
            padding-left: 1rem;
            list-style: none;
            position: relative;

            ul {
                margin-left: 0;
                margin-top: 1rem;
                padding-left: 2.5rem !important;
            }

            li {
                padding-left: 0;
                margin-left: 0;
                list-style-type: disc;

                &:before {
                    content: none;
                }
            }
        }
    }
}


blockquote {
    p {
        @extend blockquote;
        font-size: $font-size-base;
        font-weight: 300;
        font-style: italic;
        line-height: 2.375rem;
        padding-bottom: $spacer / 2;
        margin-bottom: 0;
    }
}

.blockquote-footer {
    &::before {
        content: '';
    }

    p, cite {
        font-weight: 400;
        font-style: normal;
        @include media-breakpoint-up(md) {
            font-size: 1rem;
            line-height: 1;
        }
    }
}
